module.exports = [
    // {channelID: "Channel ID", accessRoleID: "Role ID", raidRoleID: "RaidRoleID", message: "", locked: false, lockMessage: ""}
    { channelID: "1234123", accessRoleID: "343243241", raidRoleID: "", message: "Ping for the admin channel. $role$", locked: true, lockMessage:`Please contact a moderator for permission to join this region`  } //#channel-name-for-documentation   
]
 